/* header section */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@700&display=swap');

/* Responsive for device's width under 576px */

@media only screen and (max-width:576px){
    h3.ptitle{
        text-align: center;

    }
    .container{
        grid-template-columns: repeat(1,1fr);
    }
    ul{
        flex-direction: column;
    }
    .banner img{
        position: absolute;
    }
    
}

body {
    font-family: 'Work Sans', sans-serif;
}

.header {
    background: rgba(255, 144, 14, 0.1);
    box-shadow: 5px 5px 5px 5px  rgba(0, 0, 0, 0.315);
}

h3.ptitle {
    font-weight: 700;
    font-size: 45px;
    margin-top: 84px;
    margin-left: 189px;
    color: rgba(0, 0, 0, 0.849);
}

.head {
    display: flex;
}

ul {
    display: flex;
    margin-left: 300px;
    margin-top: 85px;
}

li {
    list-style-type: none;
    padding: 20px;
    font-size: 18px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.795);
}

/* hover on menu */

li:hover{
    padding: 22px;
    font-size: 22px;
    transition: 0.2s ease-in-out;
    color: rgb(245, 143, 11);
}

/* ------
--Head Description styles
------ */
h1.stitle {
    font-weight: 700;
    font-size: 64px;
    line-height: 70px;
    text-align: center;
    padding: 50px 250px;
    margin-top: -20px;
    color: rgba(0, 0, 0, 0.803);
}
p.title-des{
    color: #727272;
    font-size: 15px;
    text-align: center;
    padding: 0 190px 0 190px;
    margin-top: -70px;
    line-height: 20px;
    font-weight: 400;
}
.btn1{
    padding: 50px ;
}
.btn1 button{
    width: 180px;
    height: 64px;
    margin: 0 550px 0 500px;
    font-family: 'Work Sans', sans-serif;
    background-color: #ff8f0eea;
    border: 2px solid rgba(0, 0, 0, 0.021);
    border-radius: 10px;
    color: aliceblue;
    font-weight: 600;
    font-size: 20px;
}
.btn1 button:hover{
    background-color: aliceblue;
    color: black;
    transition: 0.2s ease-in-out;
}
.banner img{
    width: 75%;
    height: 75%;
    padding: 20px 200px 20px 160px;
    overflow: hidden;
}
/* main-team img */
.main{
    display: flex;
    padding: 100px 150px 10px 150px;
}
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    padding: 30px;
}
.team img{
    width: 250px;
    height: 250px;
}
/* team description */
.team-des{
    padding: 20px 20px 0px 20px;
    margin-top: 70px;
}

h3.team-title{
    color: #727272;
    font-weight: 700;
    font-size: 40px;
}
span.h3-bold{
    font-size: 45px;
    color: black;
}
span.h3-color{
    font-size: 45px;
    color:  #ff8f0eea;
}
.team-info{
    padding: 0px 0px 0px 20px;
}
p.info{
    font-size: 15px;
    line-height: 25px;
    padding: 5px;
    font-weight: 200px;
    color: rgba(0, 0, 0, 0.63);
}
button.btn{
    width: 160px;
    height: 54px;
    font-family: 'Work Sans', sans-serif;
    background-color: #ff8f0eea;
    border: 2px solid rgba(0, 0, 0, 0.021);
    border-radius: 10px;
    color: aliceblue;
    font-weight: 600;
    font-size: 20px;
}
button.btn:hover{
    background-color: aliceblue;
    color: black;
    transition: 0.2s ease-in-out;
}

/* features section */

.main-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 20px;
    padding: 20px 200px 20px 200px;
    position: relative;
}
.sec1{
    display: flex;
    flex-direction: column;
}
h2.m2title{
    font-size: 45px;
    color: rgba(0, 0, 0, 0.781);
}
p.m2des{
    font-size: 14px;
    color: #727272;
}
.features{
    padding: 30px 50px 50px;
}
.feature{
    width: 340px;
    height: 150px;
    border-radius: 5px;
    margin: 0px 30px 20px -45px;
    box-shadow: 3px 3px 3px 2px #72727210;
    
}

h4.ftitle{
    font-size: 16px;

}
p.fdes{
    font-size: 12px;
    padding: 5px;
    color: #727272;
}
.sec2 img{
    width: 600px;
    height: 800px;
    padding: 100px 30px 0 50px;
   
}
.btn2 button{
    width: 350px;
    height: 180px;
    font-family: 'Work Sans', sans-serif;
    background-color: #ff8f0eea;
    border: 2px solid rgba(0, 0, 0, 0.021);
    border-radius: 10px;
    color: aliceblue;
    font-weight: 600;
    font-size: 22px;
    padding: 30px;
    z-index: 5;
    margin: -300px 200px 100px 800px;
    position: absolute;
}
span.btn{
    font-size: 48px;
}
/* main Section 3 */
.some-sec{
    padding: 0 px 200px 20px 400px; 
    margin-left: 100px;
}
h2.some-title{
    font-size: 45px;
    color: rgba(0, 0, 0, 0.826);
}
p.some-des{
    width: 500px;
    font-size: 14px;
    font-weight: 400;
    color: #727272;
    padding: 10px;
}

/* icons */

.main-3{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 60px;
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 1.5px solid #ff8f0eea;
    border-radius: 5px;
}
.icon:hover{
    background-color: #ff8f0eab;
    transition: 0.2s ease-in-out;
}
.icon img{
    width: 35px;
    height: 35px;
    padding: 15px 5px 0px 5px;
}
h4.number{
    font-size: 40px;
    margin-top: 0px;
    color: #020202be;
}
p.info3{
    margin-top: -20px;
    font-size: 17px;
    color: #727272;
}

/* footer */

h2.h-sponsor{
    text-align: center;
    font-size: 50px;
}
p.spon-des{
    color: #727272;
    width: 600px;
    margin-left: 400px;
    text-align: center;
}

/* Sponsor logo styles */

.sponsor-logo{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 50px;
    margin-left: 80px;
}
.s-logo img{
    width: 146px;
    height: 40px;
    filter: grayscale(100%);
}
.s-logo img:hover{
    filter: brightness(110%);
}
.cc{
    width: 1000px;
    height: 60px;
    background: rgba(255, 144, 14, 0.1);
    margin: 100px 150px 200px 150px;
    border-radius: 15px;
}
p.copyrights{
    text-align: center;
    padding: 20px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.61);
}
.extra{
    background-color: rgba(255, 144, 14, 0.1);
    padding: 50px;
    border-radius: 15px;
    margin: 0 100px;
}
h2.hextra{
    font-size: 50px;
    color: rgba(0, 0, 0, 0.836);

}
form{
    padding: 30px;
}
form input{
    width: 300px;
    height:45px;
    border: 2px solid wheat;
    border-radius: 10px;
    padding: 2px;
}
form input.sub{
    background-color: #ff8f0eea;
    height: 50px;
}